* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
  }

.carousel-indicators li {
    height: 7px !important;
    width: 7px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    /*background-color: #1963ac !important;*/
}


@media only screen and (max-width: 600px) {
  #demo img {
  width: 100%;
  height: 300px;
  }
}

.welcomeimg {
	width: 100%;
	height: 300px!important;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ebf9fc;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size:1vw;
  position: absolute;
/*  top: 10%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  text-align: center;
}
